<h1>Crop user avatar</h1>
<div class="clearfix">
  <div class="edit-user">
    <%= image_tag @user.avatar_url(:large), id: "cropbox" %>
  </div>
</div>

<%= form_for @user do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.label "#{attribute}" %>
    <%= f.text_field "crop_#{attribute}" %><br>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop", class: "crop-btn button primary" %>
  </div>
<% end %>

<% content_for :template_js do %>
<script>
  $("#cropbox").Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    setSelect: [0, 0, 600, 600],  //设置一个初选框的位置
    aspectRatio: 1,  //设置选择框高宽比,默认为任意
    bgColor: 'white' // deal with images with png format, default is black
  })
  function update_crop(coords) {
    $("#user_crop_x").val(Math.round(coords.x));
    $("#user_crop_y").val(Math.round(coords.y));
    $("#user_crop_w").val(Math.round(coords.w));
    $("#user_crop_h").val(Math.round(coords.h));
  }
</script>
<% end %>
