<%= form_for :course, url: courses_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :cover %>
  </p>
  <p><%= f.submit %></p>
<% end %>
