<div class="content clearfix">
  <% @courses.each do |c| %>
    <div class="course">
      <%= image_tag c.cover_url(:thumb) %>
      <h3><%= c.name %></h3>
    </div>
  <% end %>
</div>

<%= form_for Course.new, html: {class: "new-course"} do |f| %>
  <%= f.label :cover, "Upload course covers:" %>
  <%= f.file_field :cover, multiple: true, name: "course[cover]" %>
<% end %>
