<div class="content clearfix" id="courses">
  <%= render @courses %>
</div>

<div class="fileupload-wrapper">
  <div class="fileupload-btn button primary">
    <%= label_tag :cover, "Upload course covers" %>
    <%= file_field_tag :cover, id: "fileupload" %>
  </div>
</div>

<div style="display: none;">
  <div id="course-crop-modal" class="modal-box">
    <div class="modal-header">
      <h3 id="modal-label">Crop cover</h3>
    </div>
    <div class="modal-body">
      <div class="course-crop-box">
        <%= image_tag '', :id => "course-cropbox" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= form_for Course.new, remote: true do |f| %>
        <% %w[x y w h].each do |attribute| %>
          <%= f.hidden_field "crop_#{attribute}" %><br>
        <% end %>
        <%= f.hidden_field :cover, :id => "course_dataurl" %>
        <%= f.submit "Crop and save", :id => "course-crop-btn", :class => "button primary right" %>
      <% end %>
    </div>
  </div>
</div>
